src/by/it/veselov/JD02_07/Payment.xsd

<?xml version = "1.0" encoding = "UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="paymentList">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="clients">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="client">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element type="xs:float" name="telephone"/>
                                        <xs:element name="address">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="city"/>
                                                    <xs:element type="xs:string" name="street"/>
                                                    <xs:element type="xs:float" name="build"/>
                                                    <xs:element type="xs:float" name="flat"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="bills">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="bill">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:float" name="number"/>
                                                                <xs:element type="xs:float" name="balance"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="login"/>
                                    <xs:attribute type="xs:string" name="password"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>