src/by/it/novik/JD02_07/Document_type_data.dtd

<?xml version = "1.0" encoding = "UTF-8"?>
<!ELEMENT flights (flight)+>
        <!ELEMENT flight (aircrew)>
        <!ATTLIST flight
                ID CDATA #REQUIRED
                >
        <!ELEMENT aircrew (crewman)+>
        <!ELEMENT crewman (name,surname,qualification,experience)>
        <!ELEMENT name (#PCDATA)>
        <!ELEMENT surname (#PCDATA)>
        <!ELEMENT qualification (#PCDATA)>
        <!ELEMENT experience (#PCDATA)>